body{
    font: 18px arial, sams-serif;
    background: #eee
}

#searches{
    width: 70%;
}

.search-item{
    float: left;
    padding: 10px
}

form{
    width: 30%;
    float: right;
    padding: 20px
}

label{
    display: block;
    font-weight: 700;
}

input[type="text"]{
    margin-bottom: 10px;
    height: 30px;
    font-size: 18px;
    width: 100%;
}

button,
input[type="submit"]{
    background: rgb(2, 95, 172);
    color: #fff;
    border: 0;
    border-radius: 5px;
    padding: 5px 20px;
    font-size: 18px;
    margin: 0 10px 10px 0;
    cursor: pointer;
    box-shadow: 2px 2px 3px #bbb;
}